$primary: #018075;
$table-bg: $primary;

$table-color: #fff;
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
$table-th-font-weight: 600;
$table-border-width: 2px;
// $table-cell-vertical-align: middle;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// $__$theme-colors: $theme-colors;
// $theme-colors: map-merge(
//   $theme-colors,
//   (
//     "primary": $__primary,
//   )
// );
